
			html, body{
			  height: 100%;
			  margin: 0;
			}
			body {
			  padding-top:50px;
			  background-color: #fff;
			  font-family: sans-serif;
			  overflow: hidden;
			  padding-bottom: 60px;
			}
			h1 {
			  font-weight: normal;
			  font-size: 140%;
			}
			.blockly-container{
			  min-height: 100%;
			  height: 100%;
			  width:100%;
			}

			.blockly-toolbox{
			  margin: 10px;
			}
			#blocklyArea {
			  height: 99%;
			}
