
			html, body{
			  height: 100%;
			  margin: 0;
			}
			body {
			  padding-top:50px;
			  background-color: #fff;
			  font-family: sans-serif;
			  overflow: hidden;
			  padding-bottom: 60px;
			}
			h1 {
			  font-weight: normal;
			  font-size: 140%;
			}
			.blockly-container{
			  min-height: 70%;
			  height: 100%;
			  width:100%;
			}

			.blockly-toolbox{
			  margin: 10px;
			}
			#svgArea{
				/*position: absolute;*/
				height: 48%;
				width: 100%;
			}
			#textArea{
				/*margin-top: 500px;
				margin-left: 10px;*/
				width: 98.5%;
			}
			#blocklyArea {
			  height: 100%;
			  width: 80%;
			}
			#wrapper{
				margin-left:200px;
				height: 95%;
				width: 100%;
			}
			#content{
				float:right;
				width: 71%;
				height: 95%;
				
			}
			#sidebar {
				float: left;
				width: 40%;
				height: 95%;
				margin-left: -200px;
			}
			#cleared {
				clear: both;
			}

