
			html, body{
			  height: 100vh;
			  margin: 0;
			  overflow: auto;
			}
			body {
			  padding-top:50px;
			  font-family: sans-serif;
			  overflow: hidden;
			  padding-bottom: 60px;
			}
			h1 {
			  font-weight: normal;
			  font-size: 140%;
			}
			.blockly-container{
			  min-height: 70vmin;
			  height: 100vh;
			  width:100vw;
			}

			.blockly-toolbox{
			  margin: 10px;
			  flex-flow: column;
			}
			.flex {
				display: flex;
				/*flex: auto;*/
			}
			.tab-content{
				margin-left: 5px;
				padding-top: 4px;
				height:50vh;
				width: 40vw;
			}
			.nav-tabs{
				margin-left: 5px;
				padding-top: 10px;
				width: 40vw;
			}
			#svgStage{
				/*position: absolute;*/
				height: 50vh;
				width: 39vw;
				background-color: white;
				margin-left: 5px;
				align-self: flex-start;
			}
			#svgSprite{
				/*position: absolute;*/
				height: 29vh;
				width: 40vw;
					background-color: white;
				align-self: flex-start;
			}
			#textArea{
				/*margin-top: 500px;
				margin-left: 10px;*/
				height:23vh;
				width: 39.5vw;
				align-self: flex-end;
				resize: none;
				border: none;
			}
			#blocklyArea {
			  height: 80vh;
			}
			/*#wrapper{
				margin-left:200px;
				height: 95vh;
				width: 100vh;
			}*/
			#workspace{
				/*float:right;
				width: 70vh;
				height: 95vh;*/
				width: 60vw;
				height: 95vh;

			}
			#stage {
				/*float: left;
				width: 40vh;
				height: 95vh;
				margin-left: -200px;*/
				flex-flow: column;
				width: 40vw;
				height: 95vh;
				padding-top: 6px;
			}
			#cleared {
				clear: both;
			}
